@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sc-full{
        width: 100%;
        height: 100%;
    }
    .word-break{
        word-break: break-word;
    }
    .container{
        @media (min-width: 1536px) {
            max-width: 1280px;
        }
        @media (max-width: 639px) {
            padding: 0px 20px;
        }
    }

}